%btn {
  @include set-font-style(2.4rem, 700, 1.1);
  @include set-basic-styles;
  position: relative;
  background-color: $color-grey-dark-2;
  cursor: pointer;

  &::after {
    @include flex-center;
    @include set-size(100%, 100%);
    @include set-color-text($color-primary);
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid $color-grey-dark-2;
    border-radius: $border-radius;
    transform: translate(-0.3rem, -0.3rem);
    transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
  }

  @media (hover: hover) {
    &:hover::after {
      transform: translate(0);
    }
  }
}

.btn-again {
  @extend %btn;
  padding: 1rem 4rem;

  &::after {
    padding: 1rem 3rem;
  }
}

.btn-check {
  @extend %btn;
  padding: 1rem 2rem;

  &::after {
    padding: 2rem;
  }
}
